/* Container principal de la présentation */
/* Styles pour les cartes de présentation */
.cardPresentationBmBthree {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.threejs-card {
  flex: 0 0 40%;
  height: 500px;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threejs-container {
  width: 100%;
  height: 100%;
}

#bookMeBitchCanvas {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.text-card {
  flex: 0 0 60%;
  padding: 20px;
  box-sizing: border-box;
}

.text-card p {
  font-size: 1em;
  line-height: 1.5;
  color: #e0e0e0;
  margin: 0;
}

